@model UsuariosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-info">Editar Cliente</h1>

<div class="row">
    <div class="col-md-8">
        <form method="post" asp-controller="Clientes" asp-action="EditarClientes">
            <input asp-for="@Model.Id" type="hidden" />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="primerNombre"></label>
                <input asp-for="primerNombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="segundoNombre"></label>
                <input asp-for="segundoNombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="primerApellido"></label>
                <input asp-for="primerApellido" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="segundoApellido"></label>
                <input asp-for="segundoApellido" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="numeroDocumento"></label>
                <input asp-for="numeroDocumento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="direccion"></label>
                <input asp-for="direccion" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento"></label>
                <input asp-for="fechaNacimiento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Editar Cliente</button>
                <a asp-action="ListarClientes" class="text-dark" style="width:auto">Volver atrás</a>
            </div>
        </form>
    </div>
</div>
