@model IEnumerable<Tiquetera.Models.UsuariosViewModel>

    <div class="">
        <div class="">
            <table class="table">
                @foreach (i in model)
                {
                    <tr>
                        <td>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
